<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- mapper文件设置单独在一个xml里，因此我们可以导入进来，合成一个xml一样 -->
    <!-- 导入applicationContext_mapper.xml 文件-->
    <import resource="applicationContext_mapper.xml" />

    <!-- SSM是基于注解的开发，所以添加包扫描 -->
    <context:component-scan base-package="com.ahead.service.impl"/>

    <!-- 1.添加事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 因为事务必须关联数据库处理，所以要配置数据源 -->
        <!-- ref指向的dataSource是applicationContext_mapper.xml文件中配置的<bean>标签数据源的id值 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 2.添加事务的注解驱动 -->
    <!--transaction-manager指向的是上述步骤1中的事务管理器<bean>的id值 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>